html {
width: 100%;height: 100%;
}
body{
background: #062d47;
padding-top: 10px;
}
body * {
font-family: 'Dosis', sans-serif;
text-shadow: 1px 1px 1px #000;
height: 100%;
}

audio {
display: none;
}
h1{
width: 511px;
height: 308px;
display: block;
text-indent: -9999px;
margin: auto;
background: url('../img/logo.png') no-repeat center top;
z-index: 100;
background-size: 100%;
}
ul { 
width: 100%;
float: left;
display: block;
}
ul li {
float: left;
margin: 5%;
width: 40%;
}
p{
color: #fff;
font-size: 1.8em;
text-align: center;
padding: 1%;
}
input {
background: #0080ab;
border-radius: 6px;
padding: 5px;
color: #fff;
font-size: 1em;
width: 25%;
margin: auto;
display: block;
border: 1px solid #333;
}
a{
font-size: 10em;
color: #fff;
text-decoration: none;
text-align: center;
width: 100%;
float: left;
margin-bottom: 10px;
}
a:hover{
color: #ccc;	
}
a:active{
margin-top: 2px;	
}
.instrument {
opacity: 0.4;
}
.instrument.active {
 opacity: 1;
}
.instrument span {
float: left;
border: 1px solid #000;
border-radius: 20px;
display: block;
border-top: 1px solid #38538c;
border-right: 1px solid #1f2d4d;
border-bottom: 1px solid #151e33;
border-left: 1px solid #1f2d4d;
-webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
color: #fff;
font: bold 20px/1 "helvetica neue", helvetica, arial, sans-serif;
padding: 10% 0;
text-shadow: 0px 1px 1px #000;
-webkit-background-clip: padding-box;
text-align: center;
width: 100%;
}
.instrument span:hover {
-webkit-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
cursor: pointer;
}
.instrument span:active {
-webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
margin-top: 10px;
}
.instrument.hit span {
background-color: white!important;
}
.pattern.active {
color: #F00;
}

@media (min-width: 481px) and (max-width: 767px) { 
h1 {
width: 150px;
height: 92px;
background-size: 100%;
height: 100px;
padding-bottom: 0;
margin: 10px 20px 0 0;
float: left;
}
p {
padding:10px 0;
text-align: left;
}
input {
margin-left: 15px;
}
a{
margin-bottom: 0;
}
}

@media (max-width: 480px) {
h1 {
background: url('../img/logo-s.png') no-repeat center top;
width: 100%;
background-size: 100%;
height: 60px;
padding-bottom: 0;
margin-top: 10px;
}
ul li {
float: left;
height: 41px;
margin: 0 6% 23%;
width: 35%;
}
.instrument span {
padding: 20%;
width: 60%;
}
input{
width: 80%;
}
a{
font-size: 5em;margin-bottom: 5px;
}
p{
	font-size: 1.5em;
	padding: 1% 9.5%;
}
input {
background: #0080ab;
border-radius: 6px;
padding: 5px;
color: #fff;
font-size: 1em;
width: 25%;
margin: auto;
display: block;
border: 1px solid #333;
}
}