html {
width: 100%;height: 100%;
}
body{
background: #062d47;
padding-top: 10px;
}
body * {
font-family: 'Dosis', sans-serif;
height: 100%;
}
h1, p, a, li, em {
text-shadow: 1px 1px 1px #000;
}
input::-webkit-input-placeholder, input:-ms-input-placeholder, input::-moz-placeholder, input::-webkit-input-placeholder {
	color: ;
}

header {
	width: 80%;
	margin: auto;
	display: table;
}
audio {
display: none;
width: 0;
height: 0;
overflow: hidden;
}
h1{
width: 200px;
height: 200px;
float: left;
display: block;
text-indent: -9999px;
margin: auto;
background: url('../img/logo.png') no-repeat center top;
z-index: 100;
background-size: 100%;
}
#instruments { 
width: 100%;
float: left;
display: block;
margin-top: -60px;
}
#instruments li {
float: left;
margin: 35px 10px;
width: 29%;
}
p{
color: #fff;
font-size: 1.8em;
text-align: center;
padding:10px 0;
text-align: left;
}
input {
background: #0080ab;
border-radius: 6px;
padding: 5px;
color: #fff;
font-size: 1em;
width: 50%;
margin-left: 15px;
display: block;
border: 1px solid #333;
}
a.start{
font-size: 10em;
color: #fff;
text-decoration: none;
text-align: center;
width: 100%;
float: left;
}
a.start:hover{
color: #ccc;	
}
a.start:active{
margin-top: 2px;	
}
body.adm .pattern.active a{
	opacity: 1;
	border: 3px #acdd00 solid;
}

body.cli .instrument.active a{
 border: 3px #acdd00 solid;
}
.instrument a{
border-radius: 20px;
display: block;
-webkit-box-shadow: inset 0 1px 3px 1px #000, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 1px 1px #111111;
box-shadow: inset 0 1px 6px 1px #000, 0px 1px 0 #000, 0 6px 0px #000, 0 8px 1px 1px #000;
color: #fff;
font: 1em/1 "helvetica neue", helvetica, arial, sans-serif;
padding: 20px;
text-shadow: 0px 1px 1px #000;
-webkit-background-clip: padding-box;
text-align: center;
width: 50%;
text-decoration: none;
margin: auto;
margin-bottom: 5px;
}
.instrument a:hover {
-webkit-box-shadow: inset 0 0px 15px 1px #000, 0px 1px 0 #000, 0 6px 0px #000, 0 8px 4px 1px #000;
box-shadow: inset 0 0px 15px 1px #000, 0px 1px 0 #000, 0 6px 0px #000, 0 8px 4px 1px #000;
cursor: pointer;
}
.instrument a:active {
-webkit-box-shadow: inset 0 1px 10px 1px #333, 0 1px 0 #000, 0 2px 0 #333, 0 4px 3px 0 #333;
box-shadow: inset 0 1px 10px 1px #333, 0 1px 0 #333, 0 2px 0 #333, 0 4px 3px 0 #333;
margin-bottom: 0;
margin-top: 5px;
}
.instrument.hit a {
background-color: white!important;
}
.pattern.active {
color: #F00;
}

/* URL */
em {
	color: #039dff;
	font-size: 1.5em;
}
em span {
	color: #acdd00;
}

.patterns li{margin: 35px 10px;width: 29%;float: left;} 
.patterns li a{
	padding: 5px 0;
	border: 1px solid #333;
	background: #005b92;
	border-radius: 9px;
	float: left;
	width: 90%;
	text-align: center;
	color: #fff;
	margin:8%;
	text-decoration: none;
	font-size: 92%;
	opacity: .6;
}
.patterns li a:hover{
	opacity: .6;
}


/* button colors*/
.a a {
	-webkit-box-shadow: inset 0 1px 3px 1px #3d0200, 0px 1px 0 #3d0200, 0 6px 0px #1f3053, 0 8px 1px 1px #3d0200;
	box-shadow: inset 0 1px 6px 1px #3d0200, 0px 1px 0 #3d0200, 0 6px 0px #3d0200, 0 8px 1px 1px #3d0200;
	border: 3px solid #7c0900;
}
.b a{
	-webkit-box-shadow: inset 0 1px 3px 1px #642b12, 0px 1px 0 #642b12, 0 6px 0px #642b12, 0 8px 1px 1px #642b12;
	box-shadow: inset 0 1px 6px 1px #642b12, 0px 1px 0 #642b12, 0 6px 0px #642b12, 0 8px 1px 1px #642b12;
	border: 3px solid #c95624;
}
.c a{
	-webkit-box-shadow: inset 0 1px 3px 1px #6b4d00, 0px 1px 0 #6b4d00, 0 6px 0px #6b4d00, 0 8px 1px 1px #6b4d00;
	box-shadow: inset 0 1px 6px 1px #6b4d00, 0px 1px 0 #6b4d00, 0 6px 0px #6b4d00, 0 8px 1px 1px #6b4d00;
	border: 3px solid #ddaa1d;
}
.d a{
	-webkit-box-shadow: inset 0 1px 3px 1px #183400, 0px 1px 0 #183400, 0 6px 0px #183400, 0 8px 1px 1px #183400;
	box-shadow: inset 0 1px 6px 1px #183400, 0px 1px 0 #183400, 0 6px 0px #183400, 0 8px 1px 1px #183400;
	border: 3px solid #2d6600;
}
.e a{
	-webkit-box-shadow: inset 0 1px 3px 1px #182f5e, 0px 1px 0 #182f5e, 0 6px 0px #182f5e, 0 8px 1px 1px #182f5e;
	box-shadow: inset 0 1px 6px 1px #182f5e, 0px 1px 0 #182f5e, 0 6px 0px #182f5e, 0 8px 1px 1px #182f5e;
	border: 3px solid #305ebd;
}
.f a{
	-webkit-box-shadow: inset 0 1px 3px 1px #420055, 0px 1px 0 #420055, 0 6px 0px #420055, 0 8px 1px 1px #420055;
	box-shadow: inset 0 1px 6px 1px #420055, 0px 1px 0 #420055, 0 6px 0px #420055, 0 8px 1px 1px #420055;
	border: 3px solid #730096;
}
/* button colors*/


@media (min-width: 481px) and (max-width: 767px) { 
header {
width: 100%;
}
h1 {
width: 150px;
height: 92px;
background-size: 100%;
height: 100px;
padding-bottom: 0;
margin: 10px 20px 0 0;
float: left;
}
#instruments{
	margin-top: -20px;
}
p {
padding:10px 0;
text-align: left;
font-size: 140%;
}
input {
margin-left: 15px;
}
a.start{
margin-bottom: 0;
}
}


@media (max-width: 480px) {
header{width: 100%;}
em {
font-size: 1em;
width: 100%;
text-align: center;
float: left;
padding-bottom: 30px;
}
h1 {
background: url('../img/logo-s.png') no-repeat center top;
width: 100%;
background-size: 100%;
height: 60px;
padding-bottom: 0;
margin-top: 10px;
}
#instruments{
	margin: 0;
}
#instruments li {
float: left;
height: 41px;
margin: 0 6% 23%;
width: 35%;
}
.instrument a {
padding: 20%;
width: 60%;
}
input{
width: 80%;
}
a.start{
font-size: 6em;margin-bottom: 5px;
}
p{font-size: 1.1em;padding: 1% 9.5%;text-align: center;}
input {
background: #0080ab;
border-radius: 6px;
padding: 5px;
color: #fff;
font-size: 1em;
width: 80%;
margin: auto;
display: block;
border: 1px solid #333;
}
.patterns {
margin-top: 20px;float: left;width: 100%;
}
.patterns li{
margin: 0;
width: 33%;
}
.patterns li a{
padding: 10px 0;
display: block;
width: 100%;
margin:0%;
border-radius: 0;
}
}