html {
width: 100%;
}
body{
background: #062d47; /* Old browsers */
background: -moz-linear-gradient(top,  #062d47 0%, #323333 99%, #323333 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#062d47), color-stop(99%,#323333), color-stop(99%,#323333)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #062d47 0%,#323333 99%,#323333 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #062d47 0%,#323333 99%,#323333 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #062d47 0%,#323333 99%,#323333 99%); /* IE10+ */
background: linear-gradient(to bottom,  #062d47 0%,#323333 99%,#323333 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#062d47', endColorstr='#323333',GradientType=0 ); /* IE6-9 */
}
body * {
font-family: 'Dosis', sans-serif;
text-shadow: 2px 2px #000;

}

.instrument {
    opacity: 0.4;
}

.instrument.active {
    opacity: 1;
}

.instrument span {
float: left;
border: 1px solid #000;
border-radius: 20px;
display: block;
border-top: 1px solid #38538c;
border-right: 1px solid #1f2d4d;
border-bottom: 1px solid #151e33;
border-left: 1px solid #1f2d4d;
-webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
color: #fff;
font: bold 20px/1 "helvetica neue", helvetica, arial, sans-serif;
padding: 25%;
text-shadow: 0px 1px 1px #000;
-webkit-background-clip: padding-box;
}
.instrument span:hover {
-webkit-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
cursor: pointer;
}
.instrument span:active {
-webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
margin-top: 10px;
}

.pattern.active {
    color: #F00;
}

h1{
width: 100%;
height: 260px;
display: block;
text-indent: -9999px;
margin: auto;
background: url('../img/logo.png') no-repeat center top;
height: 420px;
z-index: 100;
}
audio {
display: none;
}
ul { 
width: 100%;
float: left;
display: block;
}
ul li {
	float: left;
	margin: 5%;
	width: 40%;
	height: 150px;
}
p{
color: #fff;
font-size: 2em;
text-align: center;
padding: 5px 20px;
}
input {
background: #0080ab;
border-radius: 6px;
padding: 5px;
color: #fff;
font-size: 1em;
width: 90%;
margin: auto;
display: block;
border: 1px solid #333;
}
a{
font-size: 9em;
color: #fff;
text-decoration: none;
text-align: center;
width: 100%;
float: left;
font-weight: bold;
margin-bottom: 20px;
}
a:hover{
	color: #ccc;	
}

@media (max-width: 500px) {

h1 {
background-size: 100%;
height: 220px;
padding-bottom: 0;
}

}
